<template>
<div>
 <!-- Footer -->
 <footer class="footer">
  <div class="container">
    <img style="width:170px; float:left" src="../../assets/logo.png">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12" style="float:right;padding-left:10%;">
      <h6 class="text-uppercase font-weight-bold text-center">Informacione shtesë</h6>
      <p>
      Një bibliotekë është një koleksion i kururar i burimeve të informacionit dhe burimeve të ngjashme, të zgjedhura nga ekspertë dhe të bëra të arrtishme për një komunitet të caktuar për referencë ose huazim.
      </p>
      <p>Koleksioni i kësaj librarie përfshinë libra, revista periodike, gazeta, dorëshkrime, harta, printime, dokumente. Një librari organizohet për përdorim dhe mirëmbahet nga një organ publik, një institucion, një korporatë ose një individ privat.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" style="float:right;padding-left:15%;">
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <p>Dëshmorët e Kombit, Ferizaj
      <br/>info@elibrary.com
      <br/>+ 383 45 123 456
      <br/>+ 383 44 123 456</p>
    </div>
  </div>
  </div>
  <div class="footer-copyright text-center">© 2020 Copyright: E-Library</div>
</footer>
</div>


</template>
