@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    font-family: "Yanone Kaffeesatz";
    
  }

  pre{
    font-family: "Yanone Kaffeesatz";
  }
  /*--- navigation bar ---*/
 
  .forma{
    margin-left: auto;
    margin-right: auto;
  }
  .about{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
  }

.bg-prima1{
  
  background-image: url(../assets/Banner2.png);
  background-size: cover;
  

}

.bg-prima{
  background-size: cover;
  background-image: url(../assets/Banner1.jpg);

}


.font{
  font-size: 120%;
}

.katrori{
  font-size: 20px;
}
.linku{
 text-decoration: none;
}

.katroriii{
  width:100%;
  height:100%;
  border-radius: 1px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 12px -2px #333333;
  box-shadow: 0px 1px 12px -2px #333333;
  
}


.space{
  margin-bottom: 80px;
}

.space2{
  margin-bottom: 30px;
  
}

#square{
  margin: 0 35px 0 35px;
}

.fotoabout{
  width:200px; 
  height:266px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.description{
  width:80%;
  margin-top:30px;
  border: 2px solid black;
}

.navbar-brand{
  padding-left: 20px;
  font-size: 25px;
}

#katrorii{
  width:50%;
}
.footer{
  padding-top:55px;
  color:white;
  background-color: rgb(33, 37, 41);
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #A9A9A9;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

  .features {
    margin: 1em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #6ab446;
  }
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }


  .detailsbox{
    margin-top:20px;
    margin-left:1%;
  }

  .detailsbox1{
    width:25%;
    float: left;
       
  }

  .detailsbox2{
   width:60%;
   word-wrap: break-word;
   font-size:18px;  
  }

  .detailsbox3{
    width:100%;
    word-wrap: break-word;
    font-size:18px;  
   }
  .desc{
    font-weight: bolder;
  }

 
  

.section {
     display: inline-block;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  margin-left: 25px;
     width:31%;
  
}

.rrite{
  height: 300px;
  width: 85%;
  margin-left: 7.5%;
}


@media (max-width: 768px) {.rrite{

  margin-left:15%;
    width:70%;
    height : 90%;
  }}

  .bigger{
    height: 300px;
    width: 80%;
    margin-left: 10%;
  }
  
  
  @media (max-width: 768px) {.bigger{
  
    margin-left:15%;
      width:70%;
      height : 400px;
    }}


@media (max-width: 768px) {.section{

margin:0;
  width:100%;
}}


.footer{
  clear: both;
}

/* Made with love by Mutiullah Samim*/


.view{
background-image: url('../assets/loginbanner.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.card1{
height: 390px;
margin-top: 70px;
margin-bottom: 60px;
width: 420px;
height: 420px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
padding-top: 10px;
color: white;
}
.card-foter{
  margin-top: 5px;
}

.input-group-prepend span{
width: 40px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.sections {
  display: inline-block;
  width:90%;
  height: 10%; 
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%; 
}
.rritet{
height: 300px;
width: 27%;
}

@media (max-width: 768px) {.sections{

margin:0;
width:100%;
margin-bottom: 20px;
}}

@media (max-width: 768px) {.rritet{
margin-left:15%;
 width:70%;
}}

.order{
  margin-top:5%;
  float: left;
  width:27%;
}

.order2{
  margin-top:7%;
  margin-left:5%;
  float: left;
}

.order3{
  margin-top:8%;
  float: left;
}

.order4{
  margin-top:4%;
  float: left;
}
@media (max-width: 768px) {.order{
  margin-left: 6%;
   width:40%;
  }}

  @media (max-width: 768px) {.order2{
    margin-left:25%;
    margin-bottom: 10px;
     width:54%;
    }}

    @media (max-width: 768px) {.order3{
      margin-left:20%;
       width:20%;
      }}
      @media (max-width: 768px) {.order4{
        
         width:50%;
        }}
@media (max-width: 768px) {.phone{
 font-size: 20px;
  }}


  .quote{
    margin-top:20px;
    margin-left:20%;
  }
 @media (max-width: 768px) {.quote{
    margin-left:35%;
     }}

     @media (max-width: 768px) {.quote #quotes{
      font-size: 20px;
       }}
  

.quoteauthor{
      height: 250px;
      width: 23%;
      }
 @media (max-width: 768px) {.quoteauthor{
        margin-left:20%;
        height: 18%;
         width:60%;
        }}

.quotedesc{
  width:60%; 
  float:left; 
  margin-top:20px;
  margin-left: 7%;
}

@media (max-width: 768px) {.quotedesc{
  margin-left:20%;
  margin-bottom:10px;
  }}

  .optionimage{
    width:60%; 
    margin-left:20%
  }

  #fit{
    word-break: break-all;
  }

  #kerko{
    margin-right:35%;
    margin-left: 35%;
    margin-bottom: 30px;
    width:30%;
    border-radius: 8px;
    border:2px solid #DCDCDC
  }

  @media (max-width: 768px) {#kerko{
    margin-right: 20%;
    margin-left: 20%;
    width:60%
    }}